.col-sm-10 {
  padding-right: 100px;
}

.form-group {
  margin-bottom: 1rem !important;
  margin-left: px !important;
  margin-right: 40px !important;
  padding-left: 28px !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.addMovie {
  margin-top: 140px;
}